apiVersion: v2
description: Kubernetes manager for kubeslice
name: kubeslice-ui
type: application
maintainers:
  - name: Avesha
    email: support@avesha.io
keywords:
- multicloud
- multi cloud
- multitenant
- multitenancy
- multi tenant
- multi tenancy
- federated mesh
- federated clusters
- federated k8s
- federated kubernetes
- cluster sprawl
- sprawl
- namespace sprawl
- network policy
- overlay network
- mesh network
- security
- networking
- infrastructure
- application
kubeVersion: '>= 1.19.0-0'
home: https://avesha.io/products/product-slice
version: 1.5.0
appVersion: 1.5.0
